

<p> You chose the following <em>starting</em> location: </p>
  <h3><strong> <%= @starting %> </strong></h3>

  <p> You chose the following <em>ending</em> location: </p>
  <h3><strong> <%= @ending %> </strong></h3>

  <a href="/"><== Go Back</a>
